@font-face {
  font-family: "iconfont"; /* Project id 2805605 */
  src: url('//at.alicdn.com/t/font_2805605_w0f7s888g58.woff2?t=1639038290094') format('woff2'),
  url('//at.alicdn.com/t/font_2805605_w0f7s888g58.woff?t=1639038290094') format('woff'),
  url('//at.alicdn.com/t/font_2805605_w0f7s888g58.ttf?t=1639038290094') format('truetype');
}

.login_title {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #666666;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  padding-top: 60px;
}

.wx-qr-code-img {
  margin: 68px 0 90px;
  border-radius: 12px;
  text-align: center;
}

.weixin-login-btn {
  background: #1E9FFF;
  color: #fff !important;
  padding: 20px 54px;
  font-size: 16px;
  border-radius: 34px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.iconfont {
  padding-right: 4px;
  font-size: 20px;
  font-family: "iconfont" !important;
  font-style: normal;
}

.wx-qr-code-img {
  margin: 68px 0 90px;
  border-radius: 12px;
  text-align: center;
}

a:not([href]) {
  text-decoration: none;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-weixin1:before {
  content: "\e65c";
}

.icon-weixin:before {
  content: "\e64f";
}
