.fl {
  float: left;
}
html, body, h1, div, p {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.layui-btn-sm {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
}

.fw {
  font-weight: 600 !important;
}

.pr {
  position: relative;
}
.tp1 {
  top: 1px !important;
}
.p-3 {
  padding: 1rem !important;
}


slide-card-col,.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.ml-1, .mx-1 {
  margin-left: .25rem !important;
  margin-right: .25rem !important;
}
.position-relative {
  position: relative !important;
}
.ml-0, .mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
h1, h3, h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
h1, h3, h4 {
  font-weight: 500;
}
button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: outline-color .15s ease-in-out,outline-width .15s ease-in-out;
}
.form-control:focus {
  outline: 5px solid rgba(30,159,255,0.5);
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #393D49;
  font-size: 13px;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #393D49;
  font-size: 13px;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #393D49;
  font-size: 13px;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #393D49;
  font-size: 13px;
}
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.markdown-body h3::before {
  content: "";
  border-left: 4px solid #03A9F4;
  padding-left: 6px;
}
.markdown-body h4::before {
  content: "";
  border-left: 4px solid #bbb;
  padding-left: 6px;
}
#editor ul li {
  list-style: initial !important;
}
.markdown-body ul, .markdown-body ol {
  padding-left: 2em;
}
#editor ol li {
  list-style: decimal-leading-zero !important;
}

.editormd, .blog-main input:focus, .blog-main select:focus{
  font-weight: inherit;
}
.editormd, .blog-main input:focus, .blog-main select:hover {
  font-weight: inherit;
}

.markdown-body img {
  border: 0;
  background: #ffffff;
  padding: 15px;
  margin: 5px 0;
  box-shadow: inset 0 0 12px rgb(219,219,219);
}
.markdown-body img:hover {
  cursor: ew-resize;
}
.show {
  display: none;
}
.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.l, .z, .fl {
  float: left;
}
.r, .y, .fr {
  float: right;
}
.xjy-left {
  text-align: left;
}
.xjy-right {
  text-align: right;
}
